.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 104px;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        width: 100%;
        padding: 0 40px;
    }
}
@media screen and (max-width: 320px) {
    .container {
        padding: 0 16px;
    }
}
