.icon-fb {
    display: block;
    position: relative;
    width: 22px;
    height: 22px;
    background-color: #000000;
    -webkit-mask-image: url(../../images/facebook.svg);
    mask-image: url(../../images/facebook.svg);
}
