.card__owner {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    font-style: normal;
    font-weight: bold;
}
