.cards__more {
    max-width: 288px;
    background: #fff;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    margin-top: 64px;
    width: 100%;
    grid-row: auto;
    font-size: 18px;
    line-height: 24px;
    padding: 20px 17px;
    border-radius: 80px;
    transition: opacity 0.2s ease-in-out;
}
.cards__more:hover, .cards_more:active {
    opacity: 0.9;
}
@media screen and (max-width: 970px){
    .cards__more {
        grid-column: 1/3;
    }
}

@media screen and (max-width: 530px){
    .cards__more {
        grid-column: 1;
        grid-row: auto;
        margin-top: 16px;
    }
}
